* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.navbar {
    background-color: black;
    border-bottom: 8px solid #CF9455;
}

.navbar a {
    color: white;
}

.logo {
    position: absolute;
    top: 12px;
    left: 42%;
}

.navbar-toggler {
    background-color: #CF9455;
}

.navbar-toggler-icon {
    color: black;
}

img {
    vertical-align: middle;
}

.holder {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 90vh;
}

.holder::-webkit-scrollbar {
    display: none;
}


/* Hide the images by default */

.slides {
    display: none;
    width: 100%;
    flex-shrink: 0;
    height: 100vh;
}

.slides img {
    /* height: 90vh; */
    width: 100%;
}

.prev svg,
.next svg {
    fill: white;
}

.nextContainer,
.prevContainer {
    width: 35px;
    height: 35px;
    margin: 0 30px;
    cursor: pointer;
}

.thumbnails-row {
    position: absolute;
    bottom: 0;
}


/* Six columns side by side */

.column {
    /* float: left; */
    width: 12%;
    margin: 0 0.5rem;
}


/* Add a transparency effect for thumbnail images */

.slide-thumbnail {
    width: 100%;
    opacity: 0.6;
    cursor: pointer;
}

.active,
.slide-thumbnail:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-width: 768px) {
    .prevContainer,
    .nextContainer {
        display: none;
        visibility: hidden;
    }
    .holder {
        height: 60vh;
    }
    .thumbnails-row {
        position: relative;
        bottom: 80px;
    }
}


/* ========================================== Section 2 =================================== */

.section2 {
    margin-top: 10%;
}

.section2 .pic1,
.section2 .pic2,
.section2 .pic3 {
    background: linear-gradient(to bottom, rgba(19, 19, 19, 0.671), rgba(0, 0, 0, 0.73)), url('../images/pic1.jpg');
    background-size: cover;
    color: white;
}

.section2 h2 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.section2 h3 {
    font-size: 1rem;
}

.section2 button {
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    border-radius: 0;
    padding: 5px 20px;
}

.section2 .pic1 button {
    background-color: #FF6C2C;
}

.section2 .pic2 button {
    background-color: #945B9F;
}

.section2 .pic3 button {
    background-color: #707070;
}


/* ================================== Latest News =============================== */

.news {
    /* margin-top: 10%; */
    padding-top: 15%;
    background: url('../images/home/Path3765.svg') no-repeat;
    background-position: -8px 0%;
    background-size: 545px 1200px;
    height: 1200px;
    opacity: 1;
}

@media (max-width: 992px) {
    .news {
        height: auto;
    }
}

.news-row {
    margin-top: 5%;
}

.news h2 {
    font-size: 2.5rem;
}

.line {
    width: 15%;
    height: 2px;
    background-color: #CF9455;
}

.news img {
    border-radius: 20px 0 0 20px;
}

.news i {
    color: #CF9455;
}

.news button {
    margin: 5% auto;
    background-color: #272727;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.news button:hover {
    color: #969696;
}

.news1,
.news2,
.news3 {
    background-color: #272727;
    color: #969696;
    font-weight: 500;
}

.news1 h4,
.news2 h4,
.news3 h4 {
    color: #CF9455;
    text-transform: capitalize;
}

.news1,
.news3 {
    border-bottom: 10px solid #707070;
}

.news2 {
    border-bottom: 10px solid #CF9455;
}


/* ================================== Instagram =============================== */

.instagram {
    margin-top: 5%;
}

.instagram h2 {
    font-size: 2.5rem;
}

.line {
    width: 15%;
    height: 2px;
    background-color: #CF9455;
}

.instagram i {
    color: #ffffff;
}

.insta-container .insta1 {
    background: url("../images/home/GJP09665.jpg");
}

.insta-container .insta2 {
    background: url("../images/home/Shaq-7.jpg");
}

.insta-container .insta3 {
    background: url("../images/home/GJP09916.jpg");
}

.insta-container .insta {
    height: 400px;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 0px 0px 5px rgb(223, 223, 223);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.insta-container .details {
    background-color: #CF9455;
    height: 100px;
    width: 100%;
    color: white;
}


/* ------------------------------ Sponsors ---------------- */

.sponsors {
    margin-top: 10%;
    background-color: #272727;
}


/* --------------------- Footer ----------------------- */

footer {
    background-color: #686868;
    color: white;
}

footer .number i,
footer .mail i {
    color: #CF9455;
}

footer .socials i {
    background-color: #CF9455;
    padding: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
}

footer .popular a {
    color: #bdbdbd;
    text-decoration: none;
}

footer .quick {
    color: #bdbdbd;
}

footer .quick a {
    color: white;
}

footer .quick h5 {
    color: white;
}

footer .popular button {
    border: 1px solid #bdbdbd;
    color: #bdbdbd;
    border-radius: 0;
    margin: 2px;
}

footer .popular button:hover {
    background-color: #CF9455;
}

footer .popular button:hover a {
    color: white;
}

.footer-nav {
    background-color: #272727;
}

.footer-nav a {
    color: white;
}

.footer-bottom {
    background-color: #686868;
    color: white;
}