* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #000002;
}

.navbar {
    background-color: black;
    border-bottom: 8px solid #CF9455;
}

.navbar a {
    color: white;
}

.logo {
    position: absolute;
    top: 12px;
    left: 42%;
}

.navbar-toggler {
    background-color: #CF9455;
}

.navbar-toggler-icon {
    color: black;
}

.media {
    margin-top: -15%;
    background-image: url("../images/about/13244.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-size: 200%;
}

.media .btn {
    min-width: 5rem;
    border-radius: 0;
    border-color: white;
    color: white;
    text-transform: uppercase;
}

.media .btn:hover {
    background-color: #CF9455;
}

.media h2 {
    text-transform: uppercase;
    font-weight: 700;
}

.media .left {
    background-color: #686868;
    color: white;
    border-top: 8px solid #CF9455;
    border-bottom: 8px solid #272727;
    height: 100%;
}

.media-container .event img {
    object-fit: cover;
    height: 350px;
}

.media-container .events {
    margin: 20px 0;
}

.media-container .event {
    height: 400px;
    border: 1px solid rgb(223, 223, 223);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.media-container .details {
    position: absolute;
    bottom: 0;
    background-color: #272727;
    min-height: 100px;
    width: 100%;
    color: white;
}

.events:hover .details {
    background-color: #CF9455;
    transition: all 0.3s ease-in-out;
}

.media-container .details h4 {
    text-transform: uppercase;
    font-weight: 400;
}

.black {
    border-color: rgb(37, 37, 37);
}

.btn.active {
    background-color: #CF9455;
    color: white;
}

.events {
    display: none;
}

.show {
    display: block;
}


/* --------------------- Footer ----------------------- */

footer {
    margin-top: 10%;
    bottom: 0;
    background-color: #686868;
    color: white;
}

footer .number i,
footer .mail i {
    color: #CF9455;
}

footer .socials i {
    background-color: #CF9455;
    padding: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
}

footer .popular a {
    color: #bdbdbd;
    text-decoration: none;
}

footer .quick {
    color: #bdbdbd;
}

footer .quick a {
    color: white;
}

footer .quick h5 {
    color: white;
}

footer .popular button {
    border: 1px solid #bdbdbd;
    color: #bdbdbd;
    border-radius: 0;
    margin: 2px;
}

footer .popular button:hover {
    background-color: #CF9455;
}

footer .popular button:hover a {
    color: white;
}

.footer-nav {
    background-color: #272727;
}

.footer-nav a {
    color: white;
}

.footer-bottom {
    background-color: #686868;
    color: white;
}


/* ------------------------------------------------------------------------------ */

@media (max-width: 786px) {
    .hero .container {
        margin-top: 0;
    }
    .hero h2 {
        font-size: 1.5rem;
    }
    footer img {
        width: 50%;
    }
}